/*
  input boxes
  buttons
*/
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	/*background-color: #A8DEF6;*/
}

header, main {
	margin: 0 auto;
	width: 70%;
	max-width: 1000px;
	min-width: 740px;
}

header {
	padding-top: 0;
	height: 30vh;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .01), rgba(0, 0, 0, .85)), url('../images/flex-banner.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

header h1 {
	margin: 0;
	font-size: 10vh;
	text-transform: uppercase;
	line-height: 0.8;
	color: #E1ECE1;
}

main {
	display: flex;
	align-items: stretch;
	height: 100%;
}

nav {
	width: 20%;
	height: 100%;
	/*background-color: #162230;*/
}

nav img, nav button, nav input {
	width: 100%;
}

input{
	box-sizing:border-box
} 

#issues_container {
	width: 80%;
}

.issue_card {
	width: 100%;
}

.issue_card img {
	width: 10vw;
	float: left;
	margin-right: 10px;
}
